# Compiler files
cache/
out/
/dist/
/self-host-dist/
/.compliance-attestations/
/.reviewer-evidence/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env

# macOS system files
.DS_Store
.env.testroles
